<?xml version="1.0" encoding="UTF-8"?>
<events>
    <event on="onQuiqqerOrderBasketToOrderEnd"
           fire="\QUI\ERP\Shipping\EventHandler::onQuiqqerOrderBasketToOrderEnd"
    />
    <event on="onPackageSetup"
           fire="\QUI\ERP\Shipping\EventHandler::onPackageSetup"
    />
    <event on="onQuiqqerPaymentCanUsedInOrder"
           fire="\QUI\ERP\Shipping\EventHandler::onQuiqqerPaymentCanUsedInOrder"
    />

    <event on="onQuiqqer::order::orderProcessCustomerDataEnd"
           fire="\QUI\ERP\Shipping\EventHandler::onOrderProcessCustomerDataEnd"
    />
</events>