<?xml version="1.0" encoding="UTF-8"?>
<events>
    <event on="onAdminLoadFooter" fire="\QUI\ERP\Shipping\EventHandler::onAdminLoadFooter"/>

    <event on="onQuiqqerOrderBasketToOrderEnd"
           fire="\QUI\ERP\Shipping\EventHandler::onQuiqqerOrderBasketToOrderEnd"
    />
    <event on="onPackageSetup"
           fire="\QUI\ERP\Shipping\EventHandler::onPackageSetup"
    />
    <event on="onPackageSetup"
           fire="\QUI\ERP\Shipping\Tracking\Tracking::onPackageInstall"
    />
    <event on="onPackageInstall"
           fire="\QUI\ERP\Shipping\Tracking\Tracking::onPackageInstall"
    />
    <event on="onQuiqqerPaymentCanUsedInOrder"
           fire="\QUI\ERP\Shipping\EventHandler::onQuiqqerPaymentCanUsedInOrder"
    />
    <event on="onQuiqqerOrderCustomerDataSave"
           fire="\QUI\ERP\Shipping\EventHandler::onQuiqqerOrderCustomerDataSave"
    />
    <event on="onQuiqqerOrderOrderProcessCheckoutOutput"
           fire="\QUI\ERP\Shipping\EventHandler::onQuiqqerOrderOrderProcessCheckoutOutput"
    />
    <event on="onQuiqqerOrderOrderProcessCheckoutOutputBefore"
           fire="\QUI\ERP\Shipping\EventHandler::onQuiqqerOrderOrderProcessCheckoutOutputBefore"
    />
    <event on="onUserSaveBegin"
           fire="\QUI\ERP\Shipping\EventHandler::onUserSaveBegin"
    />
    <event on="onTemplateGetHeader"
           fire="\QUI\ERP\Shipping\EventHandler::onTemplateGetHeader"
    />
    <event on="onHeaderLoaded"
           fire="\QUI\ERP\Shipping\EventHandler::onTemplateGetHeader"
    />

    <event on="onQuiqqer::frontend-users::user-address-top"
           fire="\QUI\ERP\Shipping\EventHandler::onFrontendUsersAddressTop"
    />
    <event on="onQuiqqer::order::orderProcessCustomerDataEnd"
           fire="\QUI\ERP\Shipping\EventHandler::onOrderProcessCustomerDataEnd"
    />

    <event on="onQuiqqer::products::price::end"
           fire="\QUI\ERP\Shipping\EventHandler::onQuiqqerProductsPriceEnd"
    />
</events>
