<?xml version="1.0" encoding="UTF-8"?>
<events>
    <event on="onAdminLoadFooter" fire="\QUI\ERP\Shipping\EventHandler::onAdminLoadFooter"/>

    <event on="onQuiqqerOrderFactoryCreate"
           fire="\QUI\ERP\Shipping\EventHandler::onQuiqqerOrderFactoryCreate"
    />
    <event on="onQuiqqerOffersCreated"
           fire="\QUI\ERP\Shipping\EventHandler::onQuiqqerOffersCreated"
    />
    <event on="onQuiqqerSalesOrdersCreated"
           fire="\QUI\ERP\Shipping\EventHandler::onQuiqqerSalesOrdersCreated"
    />
    <event on="onQuiqqerInvoiceTemporaryInvoiceCreated"
           fire="\QUI\ERP\Shipping\EventHandler::onQuiqqerInvoiceTemporaryInvoiceCreated"
    />


    <event on="onQuiqqerOrderBasketToOrderEnd"
           fire="\QUI\ERP\Shipping\EventHandler::onQuiqqerOrderBasketToOrderEnd"
    />
    <event on="onQuiqqerOrderUpdateBegin"
           fire="\QUI\ERP\Shipping\EventHandler::onQuiqqerOrderUpdateBegin"
    />
    <event on="onPackageSetup"
           fire="\QUI\ERP\Shipping\EventHandler::onPackageSetup"
    />
    <event on="onPackageSetup"
           fire="\QUI\ERP\Shipping\Tracking\Tracking::onPackageInstall"
    />
    <event on="onPackageInstall"
           fire="\QUI\ERP\Shipping\Tracking\Tracking::onPackageInstall"
    />
    <event on="onQuiqqerPaymentCanUsedInOrder"
           fire="\QUI\ERP\Shipping\EventHandler::onQuiqqerPaymentCanUsedInOrder"
    />
    <event on="onQuiqqerOrderCustomerDataSave"
           fire="\QUI\ERP\Shipping\EventHandler::onQuiqqerOrderCustomerDataSave"
    />
    <event on="onQuiqqerOrderOrderProcessCheckoutOutput"
           fire="\QUI\ERP\Shipping\EventHandler::onQuiqqerOrderOrderProcessCheckoutOutput"
    />
    <event on="onQuiqqerOrderOrderProcessCheckoutOutputBefore"
           fire="\QUI\ERP\Shipping\EventHandler::onQuiqqerOrderOrderProcessCheckoutOutputBefore"
    />
    <event on="onUserSaveBegin"
           fire="\QUI\ERP\Shipping\EventHandler::onUserSaveBegin"
    />
    <event on="onTemplateGetHeader"
           fire="\QUI\ERP\Shipping\EventHandler::onTemplateGetHeader"
    />
    <event on="onHeaderLoaded"
           fire="\QUI\ERP\Shipping\EventHandler::onTemplateGetHeader"
    />
    <event on="onQuiqqer::frontend-users::user-address-top"
           fire="\QUI\ERP\Shipping\EventHandler::onFrontendUsersAddressTop"
    />
    <event on="onQuiqqer::order::orderProcessCustomerDataEnd"
           fire="\QUI\ERP\Shipping\EventHandler::onOrderProcessCustomerDataEnd"
    />
    <event on="onQuiqqer::products::price::end"
           fire="\QUI\ERP\Shipping\EventHandler::onQuiqqerProductsPriceEnd"
    />

    <!-- customer change -->
    <event on="onQuiqqerOrderCustomerChange"
           fire="\QUI\ERP\Shipping\EventHandler::onQuiqqerCustomerChange"
    />
    <event on="onQuiqqerInvoiceCustomerChange"
           fire="\QUI\ERP\Shipping\EventHandler::onQuiqqerCustomerChange"
    />
    <event on="onQuiqqerOffersCustomerChange"
           fire="\QUI\ERP\Shipping\EventHandler::onQuiqqerCustomerChange"
    />
    <event on="onQuiqqerSalesOrderCustomerChange"
           fire="\QUI\ERP\Shipping\EventHandler::onQuiqqerCustomerChange"
    />
    <event on="onQuiqqerContractCustomerChange"
           fire="\QUI\ERP\Shipping\EventHandler::onQuiqqerCustomerChange"
    />
</events>
