<?xml version="1.0" encoding="UTF-8"?>
<quiqqer>
    <settings name="ERP">

        <config>
            <section name="shipping">
                <conf name="deactivated">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>0</defaultvalue>
                </conf>
                <conf name="debug">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>0</defaultvalue>
                </conf>
                <conf name="ruleFields">
                    <type><![CDATA[string]]></type>
                </conf>
                <conf name="deliveryTimeDefault">
                    <type><![CDATA[string]]></type>
                    <defaultvalue>
                        <![CDATA[{"from":"","to":"","unit":"second","option":"immediately_available"}]]></defaultvalue>
                </conf>
            </section>

            <section name="no_rules">
                <conf name="behavior">
                    <type><![CDATA[integer]]></type>
                    <defaultvalue>1</defaultvalue>
                </conf>
            </section>

        </config>

        <window name="ERP">
            <title>
                <locale group="quiqqer/shipping" var="window.erp.title"/>
            </title>
            <params>
                <icon>fa fa-sun-o</icon>
            </params>

            <categories>
                <category name="shipping" index="4">
                    <text>
                        <locale group="quiqqer/shipping" var="window.erp.shipping.title"/>
                    </text>
                    <icon>fa fa-truck</icon>

                    <settings title="shipping" name="shipping">
                        <title>
                            <locale group="quiqqer/shipping" var="shipping.settings.title"/>
                        </title>

                        <input type="checkbox" conf="shipping.deactivated">
                            <text>
                                <locale group="quiqqer/shipping" var="shipping.settings.deactivated"/>
                            </text>
                            <description>
                                <locale group="quiqqer/shipping" var="shipping.settings.deactivated.description"/>
                            </description>
                        </input>

                        <input type="checkbox" conf="shipping.debug">
                            <text>
                                <locale group="quiqqer/shipping" var="shipping.settings.debug"/>
                            </text>
                            <description>
                                <locale group="quiqqer/shipping" var="shipping.settings.debug.description"/>
                            </description>
                        </input>

                        <input type="hidden"
                               conf="shipping.ruleFields"
                               data-qui="package/quiqqer/shipping/bin/backend/controls/settings/RuleFields"
                        >
                            <text>
                                <locale group="quiqqer/shipping" var="shipping.settings.ruleFields"/>
                            </text>

                            <description>
                                <locale group="quiqqer/shipping" var="shipping.settings.ruleFields.description"/>
                            </description>
                        </input>

                        <input type="hidden"
                               conf="shipping.deliveryTimeDefault"
                               data-qui="package/quiqqer/shipping/bin/backend/controls/products/fields/ShippingTimePeriod"
                        >
                            <text>
                                <locale group="quiqqer/shipping" var="shipping.settings.deliveryTimeDefault"/>
                            </text>

                            <description>
                                <locale group="quiqqer/shipping"
                                        var="shipping.settings.deliveryTimeDefault.description"/>
                            </description>
                        </input>
                    </settings>

                    <settings title="mail" name="mail">
                        <title>
                            <locale group="quiqqer/shipping" var="shipping.mail.settings.title"/>
                        </title>

                        <select conf="no_rules.behavior">
                            <text>
                                <locale group="quiqqer/shipping" var="shipping.mail.settings.order.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/shipping" var="shipping.mail.settings.order.description"/>
                            </description>

                            <option value="1">
                                <locale group="quiqqer/shipping" var="shipping.mail.settings.order.continue"/>
                            </option>
                            <option value="0">
                                <locale group="quiqqer/shipping" var="shipping.mail.settings.order.cancel"/>
                            </option>
                        </select>

                        <input type="hidden"
                               data-qui="package/quiqqer/translator/bin/controls/Update"
                               data-qui-options-group="quiqqer/shipping"
                               data-qui-options-var="message.no.rule.found.order.continue"
                        >
                            <text>
                                <locale group="quiqqer/shipping" var="shipping.mail.settings.text.continue"/>
                            </text>
                            <description>
                                <locale group="quiqqer/shipping"
                                        var="shipping.mail.settings.text.continue.description"/>
                            </description>
                        </input>

                        <input type="hidden"
                               data-qui="package/quiqqer/translator/bin/controls/Update"
                               data-qui-options-group="quiqqer/shipping"
                               data-qui-options-var="message.no.rule.found.order.cancel"
                        >
                            <text>
                                <locale group="quiqqer/shipping" var="shipping.mail.settings.text.cancel"/>
                            </text>
                            <description>
                                <locale group="quiqqer/shipping" var="shipping.mail.settings.text.cancel.description"/>
                            </description>
                        </input>
                    </settings>

                    <settings>
                        <title>
                            <locale group="quiqqer/shipping" var="shipping.settings.shippingStatus.title"/>
                        </title>

                        <input type="hidden"
                               label="false"
                               data-qui="package/quiqqer/shipping/bin/backend/controls/settings/ShippingStatus"
                        />
                    </settings>
                </category>
            </categories>
        </window>

    </settings>
</quiqqer>
