.quiqqer-shipping-user-address {
    border-bottom: 1px solid var(--qui-colors-gray-100);
    float: left;
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.quiqqer-shipping-user-address-description {
    padding-bottom: 10px;
}

.quiqqer-shipping-user-address label {
    clear: both;
    float: left;
    margin-bottom: 20px;
    width: 100%;
}

.quiqqer-shipping-user-address select {
    float: left;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    width: calc(100% - 100px);
}

.quiqqer-shipping-user-address [type="submit"] {
    float: left;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    width: 100px !important;
}
