.quiqqer-order-step-shipping {
    --_shipping-order-listEntry-padding: var(--shipping-order-listEntry-padding, var(--_order-listEntry-padding, 1rem));
    --_shipping-order-listEntry-bg: var(--shipping-order-listEntry-bg, var(--_order-listEntry-bg, transparent));
    --_shipping-order-listEntry-bg--hover: var(--shipping-order-listEntry-bg--hover, var(--_order-listEntry-bg--hover, #f8f8f8));
    --_shipping-order-listEntry-radius: var(--shipping-order-listEntry-radius, var(--_order-listEntry-radius, 0.25rem));
    --_shipping-order-listEntry-gap: var(--shipping-order-listEntry-gap, var(--_order-listEntry-gap, 2rem));
    --_shipping-order-listEntry-spacing: var(--shipping-order-listEntry-spacing, var(--_order-listEntry-spacing, .5rem));
}

.quiqqer-order-step-shipping form {
    margin-top: 1rem;
}

.quiqqer-order-step-shipping-list-entry {
    cursor: pointer;
    display: grid;
    grid-template-columns: auto max(25%, 150px) 1fr auto;
    grid-template-areas: 'select icon text price';
    background-color: var(--_shipping-order-listEntry-bg);
    gap: var(--_shipping-order-listEntry-gap);
    padding: var(--_shipping-order-listEntry-padding);
    border-radius: var(--_shipping-order-listEntry-radius);
}

.quiqqer-order-step-shipping-list-entry:not(:last-child) {
    margin-bottom: var(--_shipping-order-listEntry-spacing, 0.25rem);
}

.quiqqer-order-step-shipping-list-entry-select {
    grid-area: select;
    align-items: center;
    display: flex;
    text-align: center;
}

.quiqqer-order-step-shipping-list-entry-select input {
    margin: 0;
}

.quiqqer-order-step-shipping-list-entry:hover,
.quiqqer-order-step-shipping-list-entry.selected {
    background-color: var(--_shipping-order-listEntry-bg--hover);
}

.quiqqer-order-step-shipping-list-entry-icon {
    grid-area: icon;
}

.quiqqer-order-step-shipping-list-entry-icon img {
    max-width: 100%;
}

.quiqqer-order-step-shipping-list-entry-text {
    grid-area: text;
}

.quiqqer-order-step-shipping-list-entry-text label {
    cursor: pointer;
    font-size: var(--qui-fs-md, 1.125rem);
    font-weight: bold;
}

.quiqqer-order-step-shipping-list-entry-text-description {
    font-size: var(--qui-fs-sm, 0.875rem);
    margin-bottom: 0.25rem;
}

.quiqqer-order-step-shipping-list-entry-text-description > p:last-child {
    margin-bottom: 0;
}

.quiqqer-order-step-shipping-list-entry-price {
    grid-area: price;
    font-size: 1.125rem;
}

@media (max-width: 768px) {
    .quiqqer-order-step-shipping-list-entry {
        grid-template-areas:
                "select icon"
                ". text"
                ". price";
        grid-template-columns: 1.5rem 1fr;
        gap: 0 1rem;
    }
}

.shipping-debug-console {
    border: 1px solid #999;
    background: #fff;
    bottom: 10px;
    height: 400px;
    max-width: 100%;
    overflow: auto;
    padding: 10px;
    position: fixed;
    right: 10px;
    width: 700px;
    z-index: 100000;
}